body {
  font-family: 'Roboto', sans-serif;
}

.menu_container {
  box-sizing: border-box;
  width: 1080px;
  height: 65px;
  padding: 4px 123px 0;
  border: 3px solid #3e4757;
  background-color: #3e4757;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu_item_content {
  height: 15px;
  list-style-type: none;
  font-size: 13px;
  letter-spacing: 0.9px;
  color: #fff;
}

.active_menu_item {
  border-bottom: 3px solid #ffdd2d;
}

.menu_item {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

.menu_item:hover {
  border-bottom: 3px solid #ffdd2d;
}
