body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  box-sizing: border-box;
  border: 3px solid #3e4757;
  width: 1080px;
  height: 65px;
  background-color: #3e4757;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 123px 0;
}

.item {
  height: 15px;
  list-style-type: none;
  font-size: 13px;
  letter-spacing: 0.9px;
  color: #fff;
}

li {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

li:active {
  border-bottom: 3px solid #ffdd2d;
}
