body {
  font-family: 'Roboto', sans-serif;
}

.banner_container {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1080px;
  height: 413px;
  overflow: hidden;
  background-image: linear-gradient(to right, #1489e7, #003e82);
}

.banner_img {
  height: 550px;
  margin: -86px 0 0 -34px;
}

.inner_banner_container {
  display: flex;
  width: 524px;
  height: 413px;
  flex-direction: column;
  justify-content: flex-end;
}

.banner_heading {
  margin: 0;
  width: 342px;
  height: 100px;
  font-size: 50px;
  font-weight: 100;
  line-height: 1;
  color: #fff;
}

.banner_text {
  width: 300px;
  height: 48px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin: 16px 0 20px;
}

.banner-button {
  width: 212px;
  height: 62px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #ffdd2d;
  font-size: 17px;
  line-height: 1.41;
  text-align: center;
  color: #333;
  padding: 3px 0 0;
  margin-bottom: 74px;
  border: solid #ffdd2d;
}
